
	  body
	  {
	  background-repeat:no-repeat;
	  }
         form
         { 
         margin:15px 100px 50px 80px; 
         } 
		 
		 h1{
		 color: #A52A2A; 
		 font-family: "Comic Sans MS", cursive, sans-serif;
		 text-align: center;
		 font-size: 40px;
		 }
		 .resizedTextbox 
		 
		 {width: 300px; height: 40px }
		 
		 .resizedbutton 
		 
		 {width: 150px; height: 55px; background-color: #4CAF50;}
		 
		 input{
		 font-size:24px;
		 }
		  .head{
		  position: absolute;
    top: 0px;
    right: 0px;
		 }
		 .lab
		 {
		 font-size: 20px;
		 }
		 
		.appt
		 
		 {width: 150px; height: 40px; text-align: center; font-size: 15px }
		 .para
		 {
		 font-style:italic;
		 font-size:15px;
		 }
		 
#result 
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#result td, #result th 
{
  border: 1px solid #ddd;
  padding: 8px;
 
}
#result tr:nth-child(even)
{background-color: #f2f2f2;}
#result tr:hover 
{background-color: #ddd;}
#result th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #20B2AA;
  color: white;
}
		* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #f7e902;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
  width: 25%;
}

.tablink:hover {
  background-color: #ccc328;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}
 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

     